.carousel-inner {
  background: white;
  /* display: inline; */
  /* float: center; */
  margin: 5px 5px 5px 5px;
  padding: 20px 25px 25px 22px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  z-index: 0;
  position: relative;
}
.d-block {
  height: 670px;
  width: 605px;
}

.carousel-indicators .active {
  background-color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}
/* .carousel-inner img {
  display: block;
  width: inherit;
} */
