@import url("https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif");
@import url("https://media.giphy.com/media/26FL52lQolZU3Ob1S/giphy.gif");

.jwIcon {
  font-family: "Broadway";
  text-align: center;
  color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 20px;
  letter-spacing: 1px;
}

#jwImg {
  margin-left: 90px;
}

#pgraph {
  margin: 30px 20px 0 85px;
  flex-direction: column;
  width: 465px;
}
#jwHeader {
  background-image: url("https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 100px;
  padding: 0px 20px 10px 15px;
  line-height: 1.05;
  margin: 10px 0;
  vertical-align: top;
  float: top;
  justify-content: baseline;
}

p {
  font-family: "BroadwayFlat";
  color: white;
  font-size: 18px;
}

#audio {
  font-family: "Broadway";
  background-image: url("https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  align-items: center;
  width: 170px;
  line-height: 1.05;
  font-size: 80px;
  margin-top: 40px;
}
#audioP {
  font-size: 19px;
}
#audioGear {
  font-family: "Broadway";
  background-image: url("https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  align-items: center;
  line-height: 1.05;
  font-size: 50px;
  width: 90px;
}
#video {
  font-family: "Broadway";
  background-image: url("https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  line-height: 1.05;
  font-size: 80px;
  width: 170px;
  margin-top: 40px;
}
#videoP {
  font-size: 19px;
}

#videoGear {
  font-family: "Broadway";
  background-image: url("https://media.giphy.com/media/xT9IgjHkJczyL3Ujle/giphy.gif");
  background-size: cover;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  align-items: center;
  line-height: 1.05;
  font-size: 50px;
  margin: 0 15px 10px 15px;
  width: 90px;
}

.rotate {
  -moz-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.rotate-down {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.rotate-up {
  transform: none;
}

.vidGear {
  column-count: 2;
}

.fa-chevron-right {
  margin-top: 10px;
}
